html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f1ed;
  margin: 0;
  display: grid;
  grid-template-areas:
    "box1"
    "box2";
}

img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.logo {
  width: 14rem;
}

header {
  display: contents;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-area: box1;
  margin: 1rem;
  margin-bottom: 0;
}

nav {
  grid-column: 3 / -1;
  grid-row: 1;
  z-index: 1;
  font-family: "Patua One", sans-serif;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  padding-right: 3rem;
  padding-top: .5rem;
}

li a {
  color: #fff;
  font-size: 2em;
  margin: 1rem;
}

li a:hover {
  color: #000;
}

h1 {
  grid-column: 1;
  grid-row: 4 / -1;
  z-index: 1;
  padding-left: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  grid-area: box2;
  padding-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

figure:first-child {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

figure:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}

figcaption p {
  margin-top: 0;
}

figcaption h2 {
  margin-bottom: 0;
  color: #30658d;
  font-family: "Patua One", sans-serif;
}
